.OrgNav {
  list-style-position: inside;
  margin-bottom: 2rem;

  &__customForm {
    background: #eee;
    padding: 1rem;
  }
  &__label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
  }
  &__input {
    margin-right: 1rem;
  }
}
