@use "../App/App.scss" as App;

.RepoItem {
  background: white;
  border-top: 2px solid #ccc;
  padding-top: 2rem;
  margin-top: 2rem;

  &:first-of-type {
    margin-bottom: 0;
  }

  &__description {
    margin-bottom: 1rem;

    &:before {
      content: '\00201C';
    }

    &:after {
      content: '\00201D';
    }
  }

  &__meta {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__metaItem {
    display: flex;
    align-items: baseline;
    background: #efffff;
    border: 1px solid rebeccapurple;
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    margin-right: 1rem;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &__metaIcon {
    margin-right: 0.5rem;
    transform: scale(2.25);
    display: inline-block;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  }

  &__metaLabel {
    @extend .visually-hidden;
  }
}
